<!DOCTYPE html>
<html>
<head>
	<title>GamePanti</title>
  <link href="{{ url_for('static', filename='img/favicon1.ico')}}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">
	<style>
   h1 {text-align: center;color: white;}
p {text-align: center;color:blue;}

.btn{

  background-color: white; 
  color: black; 
  
  border-radius: 8px;
  font-size: 30px;
}


.btn:hover {
  background-color: dodgerblue;
  color: white;
}
  </style>
</head>
<body style="background-color:white;">
	 <table width="100%">

        <tr style="background-color:darkblue;width:300%px;height:250">
            <td align="center" style="color:blue;"><b>
                    <div class="container">
            <div class="jumbotron">
                <h1><font size="120">Black Jack<font></font><br><br></h1>
                  
               <center> <a href="/bjp"><button class= "btn">Play</button></a></center>
               <center> <a href="/"><button class= "btn">Home</button></a></center>
            </div>
                </b></td>

        </tr>
        
        
        </table><br><br>
        </table>

        <table width="60%" align="center">
                 <tr style="color:white;">
                <td style="align-content:center; "><img src="{{ url_for('static', filename='img/bj.jpeg')}}" width="900" height="300"></td>
                
            </tr>
          </table>
<p><font size="4">The player and the dealer receive two cards from a shuffled deck. In our case, we'll use a single deck, though casinos usually use a 'shoe' consisting of six decks.

After the first two cards are dealt to dealer and player, the player is asked if they'd like another card (called 'hitting'), or if they are happy with the cards they have already (called 'staying'). The object is to make the sum of your card values as close to 21, without going over. If we make 21 exactly, we have blackjack, which can't be beat. If we go over 21, we 'bust' and we lose the round. The player is allowed to stop hitting at any point.

The number cards (2 through 10) are worth the number displayed, face cards are worth 10, and an Ace can be worth either 1 or 11. For example, if our first two cards are a Jack and an Ace, we'd want to count the Ace as 11 since 10 + 11 = 21 and we'd have blackjack, but, if we had already had a hand worth 18, decided to hit, and got an Ace, we'd want to count it as 1, since counting it as 11 would put us at 29 and we'd bust.

Once our hand is finished, the dealer tries to do the same. The dealer must keep hitting until they get to 17. If they get above 17 without busting, they can stay.</font></p>
<p><font size="6">Scoring the game of Blackjack</font><p>
<p><font  size="4">If the player has blackjack, they win, unless the dealer also has blackjack, in which case the game is a tie.<br>
If the dealer busts and the player doesn't, the player wins.<br>
If the player busts, the dealer wins.<br>
If the player and the dealer both don't bust, whoever is closest to 21 wins<br>
</font></p>
</body>
</html>