<!DOCTYPE html>
<html>
<head>
	<title>GamePanti</title>
  <link href="{{ url_for('static', filename='img/favicon1.ico')}}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">
	<style>
   h1 {text-align: center;color:white;}
p {text-align: center;color: blue;}
.btn{

  background-color: white; 
  color: black; 
  
  border-radius: 8px;
  font-size: 30px;
}


.btn:hover {
  background-color: dodgerblue;
  color: white;
}

  </style>
</head>
<body style="background-color: white;">
	 <table width="100%">

        <tr style="background-color:darkblue;width:300%px;height:250">
            <td align="center" style="color:blue;"><b>
                    <div class="container">
            <div class="jumbotron">
                <h1><font size="120">Tic Tak Toe<font></font><br><br></h1>
                 <center> <a href="/ttp"><button class= "btn">Play</button></a></center>
                 <center> <a href="/"><button class= "btn">Home</button></a></center>
                 
              
</div>
              
            </div>
                </b></td>


        
        </tr>
        

        </table><br><br>
        </table>
        <table width="60%" align="center">
                 <tr style="color:white;">
                <td style="align-content:center; "><img src="{{ url_for('static', filename='img/tt.jpeg')}}" width="900" height="300"></td>
                
            </tr>
          </table>
<p><font size="5">Tic-tac-toe (American English), noughts and crosses (British English), or Xs and Os is a paper-and-pencil game for two players, X and O, who take turns marking the spaces in a 3×3 grid. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row is the winner.</font></p>
<p><font  size="4">Synonym(s): Noughts and crosses; Xs and Os<br>
Genre(s): Paper-and-pencil game<br>
Playing time: ~1 minute<br>
Players: 2<br>

</font></p>
</body>
</html>